extends ./templates/templateLogSign

append config
  - currentPage = pages.login
  - currentDescription = metaDescription.login

block styles
  link(href='/static/css/loginSignUp.css' rel='stylesheet')

block content
  main#contents.loginSignUpContent
    .loginSignUpContent__wrapper
      .loginSignUpContent__welcome
        .loginSignUpContent__welcome--logoWrapper
          img(src="/static/img/png/book.png").loginSignUpContent__welcome--logo
        h2 WELCOME
        h3 Books
          span BestSellers
      form.loginSignUpContent__interface
        input(type='text' class='loginInput' id='loginEmail' placeholder='Email')
        input(type='password' class='loginInput' id='loginPassword' placeholder='Password')
        button(id='btnLogin') Login
        .linkSignUp__wrapper
          span.logInQuestion New here?
          a(href='/signUp' class='linkSignUp') Sign Up
        .infoLogin#infoLogin
block script
  script(src='/static/js/login.js' type='module')