extends ./templates/template

append config
  - currentPage = pages.myList
  - currentDescription = metaDescription.myList

block styles
  link(href='/static/css/card.css' rel='stylesheet')
block contentInterface
  .mainContent__interface
      h2 MY WISHLIST
      h3 Pending books I want to read
block content
  .mainContent__data
    - const btnConfig = {btnClass: 'btnDeleteBook', btnText: 'DELETE'} 
    - const items = data
    each item in items
      if item
       +card(item._id, item.title, item.author, item.image, item.categories, item.summary, item.prices, item.type, btnConfig.btnClass, btnConfig.btnText)
block script
  script(src='/static/js/myList.js' type='module')