option {
  color: #090909;
  font-weight: bold;
  background-color: none;
}

.mainContent__interface {
  width: 22%;
  min-width: 125px;
  padding: 2% 0;
  margin: 0 auto;
  text-align: center;
}

.mainContent__interface h2 {
  font-size: 3rem;
}

.mainContent__interface h3 {
  margin-bottom: 1rem;
}

.mainContent__interface select {
  font-size: .8rem;
  width: 43%;
  display: inline-block;
  padding: .2em;
}

.mainContent__data {
  padding: 0 2%;
}

.bookCard__wrapper {
  width: 100%;
  height: 20.8vw;
  max-height: 220px;
  min-height: 140px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  position: relative;
}

.bookCard__circleWrapper {
  border: 3px solid #a41c26;
  width: 22%;
  max-width: 220px;
  min-width: 140px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.bookCard__circleWrapper:hover {
  background-color: rgba(255, 255, 255, .1);
}

.bookCard__circleWrapper:hover .bookCard__statsWrapper {
  visibility: visible;
}

.bookCard__imageWrapper {
  background-color: #a41c26;
  width: 45%;
  padding: 1.2%;
  border-radius: 4px;
  position: relative;
  top: 1%;
}

.bookCard__image {
  margin: 0 auto;
  max-width: 100%;
}

.bookCard__buttonWrapper {
  background-color: #a41c26;
  width: 100%;
  height: 25%;
  text-align: center;
  padding: 5%;
}

.btnAddBook,
.btnDeleteBook {
  font-size: .8rem;
  cursor: pointer;
  z-index: 99;
  pointer-events: all;
}

.bookCard__descriptionWrapper,
.bookCard__statsWrapper {
  width: 35%;
  transition: .2s .1s ease-in-out;
  box-shadow:
    5px 5px #03070C,
    7px 7px #a41c26,
    -5px -5px #03070C,
    -7px -7px #a41c26;
  height: 75vh;
  top: -40%;
  padding: 2%;
  overflow-y: auto;
}


.bookCard__descriptionWrapper {
  border-radius: 2px;
  box-sizing: border-box;
  position: relative;
  left: -100%;
}

.bookCard__descriptionWrapper h3 {
  font-size: 1.4rem;
  padding: 3%;

}

.bookCard__descriptionWrapper p {
  line-height: 130%;
}

.bookCard__statsWrapper {
  position: relative;
  right: -100%;
}

.bookCard__statsWrapper * {
  margin-bottom: .7rem;
}

.bookCard__title {
  font-size: 2rem;
  padding-bottom: 5%;
}

.bookCard__categories {
  padding-bottom: 5%;
}

.bookCard__prices {
  font-size: 0.9rem;
}

.bookCard__prices--head {
  text-transform: uppercase;
}

.bookCard__circleWrapper {
  pointer-events: none;
}

.bookCard__descriptionWrapper:hover {
  left: 0% !important
}

.bookCard__statsWrapper:hover {
  right: 0 !important
}


.bookCard__descriptionWrapper::-webkit-scrollbar,
.bookCard__statsWrapper::-webkit-scrollbar {
  width: 6px;
}

.bookCard__descriptionWrapper::-webkit-scrollbar-thumb,
.bookCard__statsWrapper::-webkit-scrollbar-thumb {
  background: #b31f28;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
}

.bookCard__descriptionWrapper::-webkit-scrollbar-thumb:hover,
.bookCard__statsWrapper::-webkit-thumb:hover {
  background: rgb(255, 217, 0);
}

.bookCard__descriptionWrapper::-webkit-scrollbar-track,
.bookCard__statsWrapper::-webkit-scrollbar-track {
  background: rgb(39, 39, 39);
  border-radius: 20px;
  width: 100px;
  box-shadow: inset 0 0 5px rgb(12, 12, 12);
}