.loginSignUpContent{
  background-image: url("../img/bcg/backgroundBooks1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  background-blend-mode: luminosity;
  background-color: rgb(201, 171, 171) ;

  height: 100vh;
  display: flex;
  align-items: center;
}
.loginSignUpContent__wrapper{
  border: 1px solid black;
  border-radius: 10px;
  /* box-shadow: 3px 3px 2px #a41c26; */
  overflow: hidden;
  width: 55%;
  margin: 0 auto;
  display: flex;
}
.loginSignUpContent__welcome{
  /* background-color: #141519; */
  background-color: #141519f5;
  width: 40%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginSignUpContent__welcome--logoWrapper{
  width: 50%;
  margin-bottom: 1rem;
}
.loginSignUpContent__welcome--logo{
  max-width: 100%;
}

.loginSignUpContent__welcome h2{
  font-size: 2rem;
  text-align: center;
}
.loginSignUpContent__welcome h3{
  color: rgb(255, 217, 0)
}
.loginSignUpContent__welcome span{
  font-weight: bold;
  color: #bf222c
}
.loginSignUpContent__interface{
  /* background-color: #122529; */
  background-color: #122529f5;
  width: 60%;
  padding: 4%;
}
.loginSignUpContent__interface *{
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  align-self: flex-end;
}
.loginSignUpContent__interface input{
  height: 2rem;
  width: 65%;
  text-align: start;
  padding-left: 4%;
  border: none;
  border-bottom: 1px solid #b61f29;
  background-color: #0c191ca6;
  color: #ececec;
  box-sizing: border-box
}
#btnLogin, #btnSignUp{
  width: 65%;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.linkSignUp__wrapper{
  margin-top: 1rem;
  /* display: flex; */
  /* justify-content: flex-start; */
}
.logInQuestion, .signUpQuestion{
  margin-top: 0;
  display: inline-block;
}
.linkSignUp, .linkLogIn{
  margin-top: 0;
  margin-left: .3em;
  display: inline-block;
  /* margin: 0 auto; */
  /* margin-top: 1rem; */
  color: #bf222c;
  font-size: 1.2rem;
  font-weight: bold;
}
.infoLogin, .infoSignUp{
  margin: 0 auto;
  height: 1rem;
  margin-top: 1rem;
}