-let currentPage = 'home'
-let currentDescription = 'App to see the best-selling books'

-
  const metaDescription =  {
    rankings: 'Bestsellers by category and date',
    myList: 'List of books you want to read',
    account: 'Info about current user account',
    login: 'Application login',
    signUp: 'Application registration'
  }

-
  const pages = {
    rankings: 'rankings',
    myList: 'myList',
    account: 'account',
    login: 'login',
    signUp: 'sign up'
  }