-let currentPage = 'home'
-let currentDescription = 'Application to view video game rankings'

-
  const metaDescription =  {
    rankings: 'Games rankings by platform',
    comingSoon: 'Upcoming Video Game Releases',
    myList: 'Your list of games to play',
    account: 'Info about current user account',
  }

-
  const pages = {
    rankings: 'rankings',
    comingSoon: 'coming-soon ',
    myList: 'myList',
    account: 'account',
  }