block config
  include config

include mixins

doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
  meta(name='description' content=`${currentDescription}`)
  link(rel="icon" type="image/x-icon" href="/static/img/png/book_icon.png")
  title= `Books App » ${currentPage}`
  link(href='/static/css/styles.css' rel='stylesheet')
  link(href='/static/css/loadingAnimation.css' rel='stylesheet')
  block styles
body
  include menu
  
  main#contents.mainContent
    block contentInterface
    include animation
    block content
    button#goTopBtn.goTopBtn
  footer.mainFooter
  
  script(src='/static/js/main.js' type='module')
  block script